/* General Container */
.skin {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading Style */
  .skin h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Error message styling */
  .skin div[style="color: red"] {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Prediction message styling */
  .skin div > div {
    margin-top: 10px;
    padding: 10px;
    background-color: #e8f8e8;
    border: 1px solid #d1e7d7;
    border-radius: 5px;
    color: green;
    font-size: 16px;
  }
  
  /* File input styling */
  .skin input[type="file"] {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: #f8f8f8;
  }
  
  /* Upload button styling */
  .skin button {
    width: 100px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .skin  button:hover {
    background-color: #45a049;
  }
  
  .skin button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
  }
  