.doctor-dashboard{
    padding: 30px;
    width: 75%;
    margin: 10rem auto;
    color: #111729;
    background: #111729;
    display: flex;
    color: white;
    border-radius: 30px;
    gap: 2rem;
}

.doctor-dashboard .sidebar{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    gap: 2rem;
}

.doctor-dashboard .link{
    color: white;
}

.doctor-dashboard .main-content{
    padding: 20px;
    width: 90%;
    border-radius: 30px;
    background-color: #151C39;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.doctor-dashboard .first-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.doctor-dashboard .notifications{
    display: grid;
    place-items: center;
    padding: 5px;
    background-color: #409BEE;
    border-radius: 30px;
}

.doctor-dashboard .second-row{
    margin: 10px;
    width: 100%;
    display: flex;
    gap: 2rem;
}

.doctor-dashboard .logs{
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.doctor-dashboard .third-row{
    text-align: center;
}

.doctor-dashboard .calendar{
    color: black;
}

.doctor-dashboard .logs .visited{
    padding: 10px;
    text-align: center;
    width: 75%;
    border-radius: 20px;
    background-color: #1B2C4F;
}

.doctor-dashboard .logs .upcoming{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    img{
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 9999px;
        object-fit: cover;
    }
    text-align: center;
    width: 75%;
    border-radius: 20px;
    background-color: #1B2C4F;
}

.doctor-dashboard .upcoming .details{
    display: flex;
    gap: 1rem;
}

.doctor-dashboard .second-row .analytics{
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #1B2C4F;
}

.doctor-dashboard .third-row{
    margin-top: 1rem;
}

.doctor-dashboard .profile{
    background-color: #151C39;
    padding: 20px;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    border-radius: 30px;
    img{
        width: 100px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 9999px;
    }
}