@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

:root{
    --primary: #2C3E50;
    --secondary: #BCFD4C;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Akaya Kanadaka", serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: none;
}